Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin